:root {
  --quarto-blue: #3a78b1;
  --spinner-size: 5rem;
  --site-width: 21.5rem;
  --site-column-gap: 1.25rem;
  --screenshot-height: calc(9 * 21rem / 16);
}

body {
  font-family: "Lucida Grande", sans-serif;
}

#loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--spinner-size);
  height: var(--spinner-size);
  background-image: url("./quarto-logo-blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4rem 4rem;
  animation: loading-spinner 1.5s infinite ease-in-out;
}

@keyframes loading-spinner {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#header {
  background: var(--quarto-blue);
  height: 4rem;
  position: fixed;
  width: 100%;
  top: 0;
}

#action-bar {
  display: grid;
  grid-template-columns: 10rem auto 10rem;
  padding: 0 2rem;
  justify-items: start start end;
  align-items: center;
}

#action-bar-logo {
  justify-content: left;
}

a#quarto-pub-logo {
  cursor: pointer;
  height: 4rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

img#quarto-pub-logo-icon {
  width: 2rem;
  height: 2rem;
}

#quarto-pub-logo-title {
  color: #fff;
  font-weight: 300;
  display: flex;
  padding-left: 0.5rem;
  text-transform: lowercase;
  font-size: 1.125rem;
}

#action-bar-name {
  color: #fff;
  align-items: center;
  font-weight: 300;
  display: flex;
  font-size: 1.125rem;
  justify-content: center;
}

#arc {
  margin-top: -1.25rem;
  width: 100%;
  height: 0.625rem;
  background: var(--quarto-blue);
}

#display-options-container {
  position: fixed;
  top: 4rem;
  left: 50%;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  transform: translate(-50%);
  padding-top: 0rem;
  bottom: 0;
}

#display-options {
  /* position: fixed; */
  /* top: 4rem; */
  /* margin: 0 4rem; */
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.list-grid-control-container {
  cursor: pointer;
  user-select: none;
  background: #e4eaf2;
  padding: calc(0.125rem / 2);
  border-radius: 0.25rem;
  height: calc(1.5rem + 0.125rem);
  position: relative;
  width: calc(3rem + 0.125rem);
}

.list-grid-control {
  background: #e4eaf2;
  border-radius: 0.25rem;
  height: 1.5rem;
  position: relative;
  width: 3rem;
}

.list-grid-control-list {
  position: absolute;
  left: 0;
  width: 1.5rem;
  display: flex;
  background-image: url("./list-blue.png");
  background-size: 0.75rem 0.75rem;
  background-position: center;
  background-repeat: no-repeat;
}

.list-grid-control-grid {
  position: absolute;
  right: 0;
  width: 1.5rem;
  display: flex;
  background-image: url("./grid-blue.png");
  background-size: 0.75rem 0.75rem;
  background-position: center;
  background-repeat: no-repeat;
}

.list-grid-control-indicator {
  position: absolute;
  width: 1.5rem;
  display: flex;
  height: 1.5rem;
  background: #4e78b1;
  border-radius: 0.25rem;
  background-image: url("./list-white.png");
  background-color: #4e78b1;
  background-size: 0.75rem 0.75rem;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.25s ease 0s;
  transition: margin-left 0.25s ease 0s;
}

.list-grid-control-indicator-right {
  background-image: url("./grid-white.png");
  margin-left: 1.5rem;
}

#sites-container {
  overflow-y: scroll;
  position: fixed;
  top: 7.25rem;
  left: 50%;
  padding-left: 20px;
  padding-right: 20px;
  transform: translate(-50%);
  padding-top: 0.75rem;
  bottom: 0;
}

#sites {
  display: grid;
  column-gap: var(--site-column-gap);
}

.site {
  width: var(--site-width);
  margin-bottom: 1.75rem;
}

.site-screenshot {
  border: calc(0.125rem / 2) solid #ddd;
  width: var(--site-width);
  height: var(--screenshot-height);
  box-shadow: 2px 2px 19px -15px #000000;
}

.site-info {
  margin-top: -0.25rem;
  color: var(--quarto-blue);
  font-size: 0.85rem;
}

.site-updated {
  color: #000;
  color: #777;
  font-size: 0.75rem;
  margin-top: -0.2rem;
}

span.site-updated-time {
  color: #777;
  /* font-style: italic; */
}

@media screen {
  #display-options {
    width: var(--site-width);
  }
  #sites {
    width: var(--site-width);
    grid-template-columns: var(--site-width);
  }
}

@media screen and (min-width: 52em) {
  #display-options {
    width: calc((var(--site-width) * 2) + var(--site-column-gap));
  }
  #sites {
    width: calc((var(--site-width) * 2) + var(--site-column-gap));
    grid-template-columns: repeat(2, var(--site-width));
  }
}

@media screen and (min-width: 75em) {
  #display-options {
    width: calc((var(--site-width) * 3) + (var(--site-column-gap) * 2));
  }
  #sites {
    width: calc((var(--site-width) * 3) + (var(--site-column-gap) * 2));
    grid-template-columns: repeat(3, var(--site-width));
  }
}

@media screen and (min-width: 98em) {
  #display-options {
    width: calc((var(--site-width) * 4) + (var(--site-column-gap) * 3));
  }
  #sites {
    width: calc((var(--site-width) * 4) + (var(--site-column-gap) * 3));
    grid-template-columns: repeat(4, var(--site-width));
  }
}
