body {
  padding: 20px;
  font-family: "Lucida Grande", sans-serif;
  display: none;
}

.header {
  background: #3a78b1;
  height: 4rem;
}

.action-bar {
  display: grid;
  grid-template-columns: 10rem auto 10rem;
  padding: 0 2rem;
  justify-items: start start end;
}

a.quarto-pub-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-logo {
  cursor: pointer;
  height: 4rem;
  display: flex;
  align-items: center;
}

.header-logo-title {
  color: #fff;
  font-weight: 300;
  margin-bottom: 0.25rem;
  padding-left: 0.5rem;
  text-transform: lowercase;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.name {
  color: #fff;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.arc {
  margin-top: -20px;
  width: 100%;
  height: 10px;
  background: #3a78b1;
}

.site {
  width: 26rem;
  margin-bottom: 3rem;
}

.site-screenshot {
  border: 1px solid #ddd;
  /* width: 26rem; */
  height: 14.625rem;
}

.site-info {
  color: #3a78b1;
  font-size: 0.9rem;
}

.site-yaya {
  color: #000;
  font-size: 0.9rem;
}

.moment {
  color: #666;
  font-style: italic;
}
